#pagewrap {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:80%;
    background-color: palegoldenrod;
    overflow: hidden;
}
#mainContent {
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/src/images/mainBackgroundImage.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}