.landingPageBase.landingPageBase.landingPageBase.landingPageBase {
  padding: 0px;
  background: linear-gradient(to right, rgb(230, 218, 206) 40%, white 40%);
  min-height: 150%;
  height: fit-content;
  width: 100%;
}
