.footer {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  border: none !important;
  display: flex;
  flex-direction: row;
}

.footerMail.footerMail.footerMail.footerMail {
  margin: 0;
}
