.jobDescription {
  font-family: "Courier New";
}

.mainCotentGrid {
  position: relative;
  left: 30%;
  top: 10%;
}

.socialNetworksLinks.socialNetworksLinks.socialNetworksLinks.socialNetworksLinks {
  background-color: white;
}

.primaryCard.primaryCard.primaryCard {
  background-color: rgb(244, 236, 230);
}

.descriptionCard.descriptionCard.descriptionCard {
  box-shadow: none;
}

.mainContentGridColumn.mainContentGridColumn.mainContentGridColumn.mainContentGridColumn.mainContentGridColumn {
  padding: 5px;
  width: auto !important;
}

.primaryContentSeparator.primaryContentSeparator.primaryContentSeparator {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

.nameLabel.nameLabel.nameLabel.nameLabel {
  font-size: 2em;
  font-family: "Arial Black";
  word-wrap: break-word;
  width: 150px;
  background: none;
  border: none;
}

.welcomeLabel {
  font-size: 4em !important;
  font-family: "Arial Black" !important;
}

.detailedDescription.detailedDescription.detailedDescription.detailedDescription {
  border-top: none;
  font-family: "Courier New";
  font-size: 1.2em;
}
